<a href="https://colab.research.google.com/github/rrossijr/arquivos1/blob/main/Abir_CSV_read_CSV_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Admission_Predict.csv to Admission_Predict (1).csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Admission_Predict.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
df2.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [ ]:
N_df = df2.rename(columns={'LOR ':'Letter of Recom'})
N_df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,Letter of Recom,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
cols = list(df2.columns)
print(cols)
cols = [x.lower().strip() for x in cols]
print(cols)
df2.columns = cols

['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']
['serial no.', 'gre score', 'toefl score', 'university rating', 'sop', 'lor', 'cgpa', 'research', 'chance of admit']

In [ ]:
admit_mask = df2['chance of admit']>0.7
admit_mask

0       True
1       True
2       True
3       True
4      False
       ...
395     True
396     True
397     True
398    False
399     True
Name: chance of admit, Length: 400, dtype: bool

In [ ]:
df2.where(admit_mask).dropna().head()

,serial no.,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,3.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,4.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,6.0,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90

In [ ]:
(df2['chance of admit'] > 0.7) & (df2['chance of admit'] < 0.9 )

0      False
1       True
2       True
3       True
4      False
       ...
395     True
396     True
397    False
398    False
399    False
Name: chance of admit, Length: 400, dtype: bool

In [ ]:
df2.set_index('serial no.')

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
serial no.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95